In [1]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np

In [2]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [3]:
df = pd.read_csv('E:\X\python\hfda_data/hfda_ch09_employees.csv')

In [4]:
df[:4]

   Unnamed: 0  received negotiated gender  year
0           1      12.1       True      M  2005
1           2       8.9       True      F  2006
2           3       8.8       True      M  2007
3           4       7.1       True      F  2008

In [35]:
df['received'].hist(bins=50,alpha=0.3,normed=True)

In [37]:
df['received'].plot(kind='kde')

SyntaxError: invalid syntax (<ipython-input-37-84f7667d6e81>, line 1)

In [60]:
df = pd.read_csv('E:\X\python\hfda_data/hfda_ch10_employees.csv')

In [62]:
df['sj']=df['requested']-df['received']

In [63]:
df[:2]

   Unnamed: 0  received  requested negotiated gender  year   sj
0           1      12.1        9.5       True      M  2005 -2.6
1           2       8.9        9.9       True      F  2006  1.0

In [67]:
xy = df[['received','requested']]
xy[:3]

   received  requested
0      12.1        9.5
1       8.9        9.9
2       8.8       18.1

In [88]:
plt.scatter(xy['requested'],xy['received'])

0       False
1        True
2        True
3        True
4       False
5        True
6       False
7       False
8        True
9       False
10       True
11       True
12       True
13      False
14       True
15       True
16      False
17      False
18       True
19      False
20      False
21       True
22       True
23       True
24      False
25      False
26      False
27      False
28       True
29       True
        ...
2970     True
2971     True
2972     True
2973     True
2974     True
2975     True
2976     True
2977     True
2978     True
2979     True
2980     True
2981     True
2982     True
2983     True
2984     True
2985     True
2986     True
2987     True
2988     True
2989     True
2990     True
2991     True
2992     True
2993     True
2994     True
2995     True
2996     True
2997     True
2998     True
2999     True
Name: received, dtype: bool