In [1]:
from datetime import datetime

In [2]:
now=

In [3]:
now

datetime.datetime(2016, 11, 13, 7, 38, 27, 545923)

In [14]:
datetime.now()

datetime.datetime(2016, 11, 13, 7, 38, 50, 898345)

In [17]:
now.year,now.month,now.day

(2016, 11, 13)

In [38]:
delta=datetime(2008,6,25) - datetime(2008,6,24,0,0,0,1)

In [39]:
delta

datetime.timedelta(0, 86399, 999999)

In [40]:
from datetime import timedelta

In [41]:
start = datetime(2011,1,7)

In [42]:
start+timedelta(12)# timedelta=天

datetime.datetime(2011, 1, 19, 0, 0)

In [43]:
stamp = datetime(2011,1,3)

In [44]:
str(stamp)

'2011-01-03 00:00:00'

In [51]:
stamp.strftime('%Y-%m-%d')#格式化时间

'2011-01-03'

In [52]:
value= '2011-01-03'

In [53]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [83]:
datestrs=['8/6/2011','7/6/2011']

In [56]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [58]:
from dateutil.parser import parse

In [59]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [63]:
parse('Jan 31 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [66]:
parse('6/12/2011',dayfirst=True)#解决日期出现在月份前面

datetime.datetime(2011, 12, 6, 0, 0)

In [84]:
datestrs

['8/6/2011', '7/6/2011']

In [97]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np

In [86]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-08-06', '2011-07-06'], dtype='datetime64[ns]', freq=None)

In [87]:
idx = pd.to_datetime(datestrs+[None])

In [88]:
daidx

DatetimeIndex(['2011-08-06', '2011-07-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [92]:
for x in idx:
    print(x)

2011-08-06 00:00:00
2011-07-06 00:00:00
NaT

In [93]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [94]:
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)
]

In [98]:
ts=Series(np.random.randn(6),index=dates)

In [99]:
ts

2011-01-02   -0.198250
2011-01-05    1.614387
2011-01-07    0.019206
2011-01-08    0.060842
2011-01-10    0.249072
2011-01-12   -0.111519
dtype: float64

In [100]:
type(ts)

pandas.core.series.Series

In [103]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [106]:
ts+ts[:2]

2011-01-02   -0.396499
2011-01-05    3.228774
2011-01-07         NaN
2011-01-08         NaN
2011-01-10         NaN
2011-01-12         NaN
dtype: float64

In [107]:
ts.index.dtype

dtype('<M8[ns]')

In [108]:
stamp = ts.index[0]

In [109]:
stamp

Timestamp('2011-01-02 00:00:00')

In [110]:
stamp = ts.index[2]

In [111]:
ts[stamp]

0.019205819961528207

In [114]:
ts['20110107']

0.019205819961528207

In [113]:
ts.index[2]

Timestamp('2011-01-07 00:00:00')

In [115]:
longer_ts=Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [116]:
longer_ts

2000-01-01   -0.353405
2000-01-02   -1.623101
2000-01-03   -2.176310
2000-01-04   -1.062654
2000-01-05    1.010893
2000-01-06    0.554013
2000-01-07    1.561996
2000-01-08   -0.849444
2000-01-09   -1.048045
2000-01-10    0.648530
2000-01-11   -1.586804
2000-01-12   -0.480224
2000-01-13    1.139236
2000-01-14   -0.320818
2000-01-15    0.600223
2000-01-16   -2.344158
2000-01-17   -1.233277
2000-01-18    1.588753
2000-01-19   -1.503230
2000-01-20   -0.837221
2000-01-21   -0.154620
2000-01-22   -0.709425
2000-01-23    1.138822
2000-01-24   -0.529102
2000-01-25   -1.920138
2000-01-26    1.057031
2000-01-27    0.287100
2000-01-28   -0.278127
2000-01-29   -0.970479
2000-01-30   -0.990012
                ...
2002-08-28   -1.000566
2002-08-29    1.407854
2002-08-30    0.611542
2002-08-31    0.324608
2002-09-01   -0.723798
2002-09-02   -0.057820
2002-09-03   -0.405694
2002-09-04   -0.916716
2002-09-05   -0.771386
2002-09-06    1.029887
2002-09-07   -0.039700
2002-09-08   -1.599799
2002-09-09   -0.856321
2002-09-10    1.361228
2002-09-11    0.337133
2002-09-12    0.133526
2002-09-13   -0.061661
2002-09-14   -0.044425
2002-09-15   -1.111794
2002-09-16   -0.459103
2002-09-17   -1.317660
2002-09-18    1.175051
2002-09-19    0.710587
2002-09-20    0.690975
2002-09-21    1.805466
2002-09-22   -0.882025
2002-09-23   -1.553503
2002-09-24    0.074918
2002-09-25   -1.570344
2002-09-26   -0.473180
Freq: D, dtype: float64

In [121]:
longer_ts['2001']

<bound method Series.count of 2001-01-01    0.532665
2001-01-02   -0.219147
2001-01-03   -0.791591
2001-01-04   -0.539068
2001-01-05    0.191054
2001-01-06   -0.887410
2001-01-07    0.352648
2001-01-08   -0.507054
2001-01-09   -1.457576
2001-01-10    1.085680
2001-01-11   -1.443292
2001-01-12   -0.390650
2001-01-13   -2.714298
2001-01-14   -0.968332
2001-01-15    1.298508
2001-01-16   -0.008991
2001-01-17   -0.037379
2001-01-18   -0.061215
2001-01-19   -0.534379
2001-01-20    1.880015
2001-01-21    0.698449
2001-01-22   -0.967855
2001-01-23    1.025725
2001-01-24   -0.376962
2001-01-25   -0.225372
2001-01-26    0.192333
2001-01-27   -0.095148
2001-01-28   -1.429339
2001-01-29   -0.062606
2001-01-30    1.811347
                ...
2001-12-02   -0.038144
2001-12-03    0.291322
2001-12-04   -1.162582
2001-12-05   -1.344056
2001-12-06   -0.885954
2001-12-07   -0.859508
2001-12-08   -1.469816
2001-12-09   -0.154703
2001-12-10   -1.259497
2001-12-11   -0.864391
2001-12-12   -0.396015
2001-12-13   -0.721492
2001-12-14    0.694247
2001-12-15    0.327875
2001-12-16   -0.923350
2001-12-17    0.710554
2001-12-18    0.758608
2001-12-19   -0.994710
2001-12-20    1.158868
2001-12-21    0.845890
2001-12-22    0.933718
2001-12-23   -2.556060
2001-12-24   -0.118630
2001-12-25   -0.064160
2001-12-26   -1.646003
2001-12-27   -0.791371
2001-12-28    0.773155
2001-12-29   -0.589282
2001-12-30   -1.583083
2001-12-31   -1.621413
Freq: D, dtype: float64>

In [122]:
longer_ts['2001-05']

2001-05-01    0.249810
2001-05-02   -0.626645
2001-05-03    1.305935
2001-05-04   -0.458965
2001-05-05    0.610225
2001-05-06    1.778866
2001-05-07   -0.143224
2001-05-08   -1.508398
2001-05-09    0.892419
2001-05-10    2.043346
2001-05-11    1.580947
2001-05-12    0.334691
2001-05-13   -0.650004
2001-05-14   -1.588414
2001-05-15   -0.800157
2001-05-16    0.908608
2001-05-17    0.589222
2001-05-18    0.817037
2001-05-19   -0.535812
2001-05-20    2.338468
2001-05-21   -0.418848
2001-05-22    0.283201
2001-05-23    2.228149
2001-05-24   -0.432053
2001-05-25    1.206309
2001-05-26    0.329596
2001-05-27    1.277870
2001-05-28   -0.336649
2001-05-29   -0.168134
2001-05-30    0.355963
2001-05-31    0.021429
Freq: D, dtype: float64

In [135]:
longer_ts[datetime(2001,5,2)::10]

2001-05-02   -0.626645
2001-05-12    0.334691
2001-05-22    0.283201
2001-06-01    0.820608
2001-06-11    0.748173
2001-06-21    1.524359
2001-07-01   -1.085499
2001-07-11   -0.786474
2001-07-21   -0.830240
2001-07-31    0.156897
2001-08-10    0.372820
2001-08-20    1.129592
2001-08-30    1.271551
2001-09-09    0.932193
2001-09-19   -1.969556
2001-09-29   -0.839959
2001-10-09    0.405287
2001-10-19    2.182218
2001-10-29    0.799329
2001-11-08    0.366832
2001-11-18   -0.891259
2001-11-28   -0.102715
2001-12-08   -1.469816
2001-12-18    0.758608
2001-12-28    0.773155
2002-01-07   -2.379425
2002-01-17   -0.675437
2002-01-27   -0.066777
2002-02-06   -0.220946
2002-02-16    1.456560
2002-02-26    2.134627
2002-03-08   -1.072064
2002-03-18    0.159677
2002-03-28   -1.525347
2002-04-07    0.296073
2002-04-17   -0.286168
2002-04-27   -1.233928
2002-05-07   -0.749105
2002-05-17   -0.142084
2002-05-27    2.426603
2002-06-06    1.164963
2002-06-16   -1.252325
2002-06-26   -0.808995
2002-07-06    0.532177
2002-07-16    0.386818
2002-07-26   -0.055289
2002-08-05   -2.040245
2002-08-15    0.190389
2002-08-25    1.653465
2002-09-04   -0.916716
2002-09-14   -0.044425
2002-09-24    0.074918
Freq: 10D, dtype: float64

In [136]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.019206
2011-01-08    0.060842
2011-01-10    0.249072
dtype: float64

In [143]:
dates=pd.date_range('1/1,2000',periods=100,freq='W-MON')

In [144]:
dates

DatetimeIndex(['2000-01-03', '2000-01-10', '2000-01-17', '2000-01-24',
               '2000-01-31', '2000-02-07', '2000-02-14', '2000-02-21',
               '2000-02-28', '2000-03-06', '2000-03-13', '2000-03-20',
               '2000-03-27', '2000-04-03', '2000-04-10', '2000-04-17',
               '2000-04-24', '2000-05-01', '2000-05-08', '2000-05-15',
               '2000-05-22', '2000-05-29', '2000-06-05', '2000-06-12',
               '2000-06-19', '2000-06-26', '2000-07-03', '2000-07-10',
               '2000-07-17', '2000-07-24', '2000-07-31', '2000-08-07',
               '2000-08-14', '2000-08-21', '2000-08-28', '2000-09-04',
               '2000-09-11', '2000-09-18', '2000-09-25', '2000-10-02',
               '2000-10-09', '2000-10-16', '2000-10-23', '2000-10-30',
               '2000-11-06', '2000-11-13', '2000-11-20', '2000-11-27',
               '2000-12-04', '2000-12-11', '2000-12-18', '2000-12-25',
               '2001-01-01', '2001-01-08', '2001-01-15', '2001-01-22',
               '2001-01-29', '2001-02-05', '2001-02-12', '2001-02-19',
               '2001-02-26', '2001-03-05', '2001-03-12', '2001-03-19',
               '2001-03-26', '2001-04-02', '2001-04-09', '2001-04-16',
               '2001-04-23', '2001-04-30', '2001-05-07', '2001-05-14',
               '2001-05-21', '2001-05-28', '2001-06-04', '2001-06-11',
               '2001-06-18', '2001-06-25', '2001-07-02', '2001-07-09',
               '2001-07-16', '2001-07-23', '2001-07-30', '2001-08-06',
               '2001-08-13', '2001-08-20', '2001-08-27', '2001-09-03',
               '2001-09-10', '2001-09-17', '2001-09-24', '2001-10-01',
               '2001-10-08', '2001-10-15', '2001-10-22', '2001-10-29',
               '2001-11-05', '2001-11-12', '2001-11-19', '2001-11-26'],
              dtype='datetime64[ns]', freq='W-MON')

In [145]:
long_df=DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New York','Ohio'])

In [146]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-03 -0.396025  0.793166 -1.336247 -1.721521
2000-01-10 -1.117895 -1.376594  1.140891  1.342915
2000-01-17 -1.137054 -1.344568 -0.408949 -0.628702
2000-01-24  0.373870  0.606679 -0.649736  1.017704
2000-01-31  1.646666 -1.487236 -0.668210  1.197745
2000-02-07 -1.464094  0.763823  0.280644 -0.326970
2000-02-14  0.413271 -0.160184  2.446823  0.793921
2000-02-21  0.777235 -0.250659  0.344900 -0.389650
2000-02-28  1.151349  0.632106 -1.001298  0.870034
2000-03-06 -1.779984 -0.705280  0.174345  0.343063
2000-03-13 -0.255265 -1.110218  0.991111  0.710678
2000-03-20 -1.082555  2.215466 -0.229308  0.751204
2000-03-27  0.046548  0.089477 -0.798257  0.981410
2000-04-03  0.637767  0.570707 -1.656328  0.871802
2000-04-10  0.102420 -0.150174  0.627712  0.798834
2000-04-17 -0.538446  0.291812 -1.633863 -1.350723
2000-04-24  0.689819 -0.258974  1.284113 -0.879760
2000-05-01  0.118141  0.153657 -2.253209  1.442775
2000-05-08  1.096348  0.423574 -1.169083  0.895196
2000-05-15 -0.647044  1.191703  0.508526  0.064319
2000-05-22 -0.439087 -1.247842  0.006129 -0.663078
2000-05-29  1.786343  0.671195  1.652075 -0.837932
2000-06-05 -0.748955 -0.142650  0.456825 -0.213160
2000-06-12 -0.547082  0.021915  2.716427 -0.186626
2000-06-19  0.368051  1.465078  1.721231 -0.131689
2000-06-26 -0.602499 -0.549932  0.928655 -2.073007
2000-07-03 -0.965611 -0.390759 -0.194572  0.904724
2000-07-10 -1.634785 -0.284946 -0.157848  1.164527
2000-07-17  0.315537  0.542431 -0.910794 -0.021157
2000-07-24  0.152335 -0.484790  0.503515  0.114012
...              ...       ...       ...       ...
2001-05-07  1.888486 -1.530724 -0.801195 -0.426821
2001-05-14  0.255822 -1.108797  1.423833  0.165581
2001-05-21  1.223294 -1.157931 -0.818608  0.054606
2001-05-28 -0.247627  0.762254 -0.522358  0.650464
2001-06-04 -1.073877 -0.430285  0.418507 -0.162006
2001-06-11 -1.741244  0.656699  1.849579  1.053075
2001-06-18  0.019352 -1.252568 -0.515010 -1.699193
2001-06-25  0.984023 -0.620295 -0.733981  0.570796
2001-07-02 -0.649883 -1.163579  1.756069 -1.512748
2001-07-09  0.790103  0.190769 -0.134186  0.236973
2001-07-16 -0.718101 -0.141212 -1.011077  0.798710
2001-07-23 -0.157388 -0.662741 -0.526484  0.342184
2001-07-30  1.357008  1.472947 -0.387955 -1.489856
2001-08-06  1.946110 -1.885248  0.160151 -0.766729
2001-08-13  0.418795 -0.421649  0.550816  0.056061
2001-08-20 -1.053273 -0.036898 -0.157025 -1.390145
2001-08-27 -0.759503  0.320632  1.068819 -0.726846
2001-09-03 -0.377031 -0.418363  0.410123  1.232543
2001-09-10  0.375781  0.496861 -0.172968  1.666417
2001-09-17  1.026803 -0.128456  0.011836  0.090595
2001-09-24 -0.694664 -0.458687 -2.007065  0.521861
2001-10-01  2.152691  0.780776 -1.045372 -0.985953
2001-10-08  2.013744 -0.031475 -0.348786 -0.174174
2001-10-15  0.245679 -0.712443  0.931875 -0.764904
2001-10-22 -0.628491 -1.586229 -0.485302  0.830010
2001-10-29 -0.688030 -1.388664 -0.943377  1.452908
2001-11-05  0.483042  0.876319 -0.979142  0.188149
2001-11-12 -0.411377  0.143567 -0.763848 -2.688367
2001-11-19  0.142499  0.556913  0.392569  1.190218
2001-11-26  1.003255  0.322536 -0.245295  0.841551

[100 rows x 4 columns]

In [147]:
long_df.ix['2001-5']

            Colorado     Texas  New York      Ohio
2001-05-07  1.888486 -1.530724 -0.801195 -0.426821
2001-05-14  0.255822 -1.108797  1.423833  0.165581
2001-05-21  1.223294 -1.157931 -0.818608  0.054606
2001-05-28 -0.247627  0.762254 -0.522358  0.650464

In [148]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [149]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [150]:
dup_ts = Series(np.arange(5),index=dates)

In [151]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [156]:
dup_ts.index.is_unique

False

In [157]:
dup_ts['1/3/2000']

4

In [158]:
dup_ts['2000-1-2']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [159]:
grouped=dup_ts.groupby(level=0)

In [160]:
grouped

In [161]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [162]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [163]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [164]:
ts

2011-01-02   -0.198250
2011-01-05    1.614387
2011-01-07    0.019206
2011-01-08    0.060842
2011-01-10    0.249072
2011-01-12   -0.111519
dtype: float64

In [175]:
ts.resample('D')

d:\Anaconda3\lib\site-packages\IPython\lib\pretty.py:108: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  return getattr(obj, attr, default)

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [168]:
index = pd.date_range('2012-4-1','2012-6-1')

In [173]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [177]:
pd.date_range(start='20160102',periods=20)

DatetimeIndex(['2016-01-02', '2016-01-03', '2016-01-04', '2016-01-05',
               '2016-01-06', '2016-01-07', '2016-01-08', '2016-01-09',
               '2016-01-10', '2016-01-11', '2016-01-12', '2016-01-13',
               '2016-01-14', '2016-01-15', '2016-01-16', '2016-01-17',
               '2016-01-18', '2016-01-19', '2016-01-20', '2016-01-21'],
              dtype='datetime64[ns]', freq='D')

In [179]:
pd.date_range('20000101','20011201',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29',
               '2001-01-31', '2001-02-28', '2001-03-30', '2001-04-30',
               '2001-05-31', '2001-06-29', '2001-07-31', '2001-08-31',
               '2001-09-28', '2001-10-31', '2001-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [180]:
pd.date_range('20120502 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [181]:
pd.date_range('20120502 12:56:31',periods=5,normalize=True)#规范到天

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [182]:
from pandas.tseries.offsets import Hour,Minute

In [184]:
hour= Hour(4)
hour

In [194]:
pd.date_range('20000101 21:59','20000103',freq='4H')

DatetimeIndex(['2000-01-01 21:59:00', '2000-01-02 01:59:00',
               '2000-01-02 05:59:00', '2000-01-02 09:59:00',
               '2000-01-02 13:59:00', '2000-01-02 17:59:00',
               '2000-01-02 21:59:00'],
              dtype='datetime64[ns]', freq='4H')

In [192]:
Hour(2)+Minute(30)

In [193]:
pd.date_range('20000101',periods = 10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [199]:
rng = pd.date_range('20120101','20120901',freq='WOM-3FRI')#一般的股票期权交易用到月度到期日

In [197]:
list(rng)

[Timestamp('2012-01-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', offset='WOM-3FRI')]

In [198]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [200]:
ts = Series(np.random.randn(4),index=pd.date_range('20000101',periods=4,freq='M'))

In [201]:
ts

2000-01-31   -0.213582
2000-02-29    1.875820
2000-03-31    0.907573
2000-04-30    0.458638
Freq: M, dtype: float64

In [202]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.213582
2000-04-30    1.875820
Freq: M, dtype: float64

In [203]:
ts.shift(-2)

2000-01-31    0.907573
2000-02-29    0.458638
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [204]:
ts/ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -9.782682
2000-03-31   -0.516173
2000-04-30   -0.494654
Freq: M, dtype: float64

In [205]:
ts.shift(2,freq='M')

2000-03-31   -0.213582
2000-04-30    1.875820
2000-05-31    0.907573
2000-06-30    0.458638
Freq: M, dtype: float64

In [206]:
ts

2000-01-31   -0.213582
2000-02-29    1.875820
2000-03-31    0.907573
2000-04-30    0.458638
Freq: M, dtype: float64

In [207]:
ts.shift(3,freq='D')

2000-02-03   -0.213582
2000-03-03    1.875820
2000-04-03    0.907573
2000-05-03    0.458638
dtype: float64

In [208]:
ts.shift(1,freq='3D')

2000-02-03   -0.213582
2000-03-03    1.875820
2000-04-03    0.907573
2000-05-03    0.458638
dtype: float64

In [209]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00   -0.213582
2000-02-29 01:30:00    1.875820
2000-03-31 01:30:00    0.907573
2000-04-30 01:30:00    0.458638
Freq: M, dtype: float64

In [210]:
from pandas.tseries.offsets import Day,MonthEnd

In [211]:
now= datetime(2011,11,17)

In [212]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [214]:
datetime(2011,11,20,0,0)

datetime.datetime(2011, 11, 20, 0, 0)

In [215]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [216]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [217]:
offset = MonthEnd()

In [218]:
offset.rollforward(now)#偏移到下月

Timestamp('2011-11-30 00:00:00')

In [220]:
offset.rollback(now)#偏移到上月

Timestamp('2011-10-31 00:00:00')

In [221]:
ts = Series(np.random.randn(20),index=pd.date_range('20000115',periods=20,freq='4d'))

In [222]:
ts

2000-01-15    1.807207
2000-01-19    0.281460
2000-01-23   -0.008283
2000-01-27   -0.570560
2000-01-31    0.261732
2000-02-04   -0.087325
2000-02-08    0.311862
2000-02-12    0.640423
2000-02-16   -0.036088
2000-02-20   -0.250546
2000-02-24    0.161582
2000-02-28    0.744236
2000-03-03    0.879904
2000-03-07   -0.822719
2000-03-11    0.394032
2000-03-15   -1.327222
2000-03-19   -0.105096
2000-03-23   -0.046357
2000-03-27   -1.324293
2000-03-31   -0.527661
Freq: 4D, dtype: float64

In [223]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.354311
2000-02-29    0.212020
2000-03-31   -0.359927
dtype: float64

In [224]:
ts.resample('M',how='mean')

d:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

2000-01-31    0.354311
2000-02-29    0.212020
2000-03-31   -0.359927
Freq: M, dtype: float64

In [225]:
import pytz

In [233]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [234]:
tz=pytz.timezone('US/Eastern')

In [235]:
tz

In [236]:
rng=pd.date_range('20120309 9:30',periods=6,freq='D')

In [237]:
ts=Series(np.random.randn(len(rng)),index=rng)

In [238]:
ts

2012-03-09 09:30:00   -0.475899
2012-03-10 09:30:00   -0.550867
2012-03-11 09:30:00   -0.828768
2012-03-12 09:30:00   -0.164249
2012-03-13 09:30:00   -0.815197
2012-03-14 09:30:00   -1.410426
Freq: D, dtype: float64

In [239]:
print(ts.index.tz)

None

In [242]:
pd.date_range('20120309 9:30',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [243]:
ts_utc=ts.tz_localize('UTC')

In [245]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [246]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -0.475899
2012-03-10 04:30:00-05:00   -0.550867
2012-03-11 05:30:00-04:00   -0.828768
2012-03-12 05:30:00-04:00   -0.164249
2012-03-13 05:30:00-04:00   -0.815197
2012-03-14 05:30:00-04:00   -1.410426
Freq: D, dtype: float64

In [247]:
stamp=pd.Timestamp('20110312 04:00')

In [248]:
stamp

Timestamp('2011-03-12 04:00:00')

In [250]:
stamp_utc=stamp.tz_localize('utc')

In [251]:
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [252]:
stamp_moscow = pd.Timestamp('20110312 04:00',tz='Europe/Moscow')

In [253]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [254]:
stamp_utc.value

1299902400000000000

In [255]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [256]:
from pandas.tseries.offsets import Hour

In [257]:
stamp=pd.Timestamp('20120312 01:30',tz='US/Eastern')

In [258]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [259]:
stamp+Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [262]:
stamp=pd.Timestamp('20121104 00:30',tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [265]:
stamp+Hour()

Timestamp('2012-11-04 01:30:00-0400', tz='US/Eastern')

In [266]:
rng=pd.date_range('20120307 9:30',periods=10,freq='B')

In [267]:
rng

DatetimeIndex(['2012-03-07 09:30:00', '2012-03-08 09:30:00',
               '2012-03-09 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00',
               '2012-03-15 09:30:00', '2012-03-16 09:30:00',
               '2012-03-19 09:30:00', '2012-03-20 09:30:00'],
              dtype='datetime64[ns]', freq='B')

In [273]:
ts1 = ts[:7].tz_localize('Europe/London')
ts1

2012-03-09 09:30:00+00:00   -0.475899
2012-03-10 09:30:00+00:00   -0.550867
2012-03-11 09:30:00+00:00   -0.828768
2012-03-12 09:30:00+00:00   -0.164249
2012-03-13 09:30:00+00:00   -0.815197
2012-03-14 09:30:00+00:00   -1.410426
Freq: D, dtype: float64

In [274]:
ts2= ts1[2:].tz_convert('Europe/Moscow')
ts2

2012-03-11 13:30:00+04:00   -0.828768
2012-03-12 13:30:00+04:00   -0.164249
2012-03-13 13:30:00+04:00   -0.815197
2012-03-14 13:30:00+04:00   -1.410426
Freq: D, dtype: float64

In [270]:
result = ts1+ts2

In [271]:
result.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [275]:
p = pd.Period(2007,freq='A-DEC')

In [276]:
p

Period('2007', 'A-DEC')

In [277]:
p+5

Period('2012', 'A-DEC')

In [278]:
pd.Period('2014',freq='A-DEC')-p

7

In [279]:
rng=pd.period_range('20000101','20000630',freq='M')

In [280]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='int64', freq='M')

In [281]:
Series(np.random.randn(6),index=rng)

2000-01    1.328704
2000-02   -0.737691
2000-03    0.168951
2000-04   -0.215978
2000-05    1.137363
2000-06    1.207140
Freq: M, dtype: float64

In [282]:
values=['2001Q3','2002Q2','2003Q1']

In [283]:
index=pd.PeriodIndex(values,freq='Q-DEC')

In [285]:
index

3

In [286]:
p=pd.Period('2007',freq='A-DEC')

In [288]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [289]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [290]:
p=pd.Period('2007',freq='A-JUN')

In [291]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [292]:
p.asfreq('M',how='end')

Period('2007-06', 'M')