In [29]:
import numpy as np
import matplotlib.pyplot as plt
from numpy.random import randn
from pandas import DataFrame,Series
import pandas as pd

In [30]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['axes']
`%matplotlib` prevents importing * from pylab and numpy

In [31]:
plot(np.arange(10))

In [32]:
fig=plt.figure()

In [33]:
ax1 = fig.add_subplot(2,2,1)

In [34]:
ax2=fig.add_subplot(2,2,2)

In [35]:
ax3=fig.add_subplot(2,2,3)

In [36]:
plt.plot(np.random.randn(50).cumsum(),'k--')#‘k--’表示黑色虚线

In [37]:
_=ax1.hist(np.random.randn(100),bins=20,color='k',alpha=0.5)

In [38]:
ax2.scatter(np.arange(30),np.arange(30)+3*np.random.randn(30))

In [39]:
fig,axes=plt.subplots(2,3)

In [40]:
subplots_adjust(left=None,bottom=None,right=None,top=None,wspace=None,hspace=None)

In [41]:
fig,axes=plt.subplots(2,2,sharex=True,sharey=True)

In [42]:
for i in range(2):
    for j in range(2):
        axes[i,j].hist(np.random.randn(500),bins=50,color='k',alpha=0.5)

In [43]:
plt.subplots_adjust(wspace=0,hspace=0)

In [44]:
ax1.plot(range(10),'g--')

In [17]:
plt.plot(randn(30).cumsum(),'ko--')

In [45]:
fig=plt.figure()

In [46]:
plot(randn(20).cumsum(),color='k',linestyle='dashed',marker='o')

In [47]:
data=randn(30).cumsum()

In [48]:
plt.plot(data,'k--',label='Default')

In [49]:
plt.plot(data,'k--',drawstyle='steps-post',label='steps-post')#垂直线

In [50]:
plt.legend(loc='best')#数据标签

In [24]:
plt.xlim([0,10])

(0, 10)

In [25]:
fig=plt.figure();ax=fig.add_subplot(1,1,1)

In [26]:
ax.plot(randn(1000).cumsum())

In [27]:
ticks=ax.set_xticks([0,250,750,1000])#设置横坐标坐标轴

In [28]:
labels = ax.set_xticklabels(['one','two','four','five'],rotation=30,fontsize='small')#按照指定显示

In [52]:
ax.set_title('My first natplotlib plot')

In [53]:
ax.set_title('试试中文')#测试不支持中文

In [62]:
ax.plot(randn(1000).cumsum(),'k--',label='two')

In [64]:
ax.plot(randn(1000).cumsum(),'k',label='three')

In [100]:
ax.text(800,35,'Hello world!',family='monospace',fontsize=10)

In [101]:
from datetime import datetime

In [102]:
fig=plt.figure()

In [103]:
ax = fig.add_subplot(1,1,1)

In [105]:
data = pd.read_csv('E:\X\python\ch08/spx.csv',index_col=0,parse_dates=True)
spx=data['SPX']

In [112]:
spx.plot(ax=ax,style='k-')

In [113]:
crisis_data=[(datetime(2007,10,11),'Peak of bull market'),(datetime(2008,3,12),'Bear Stearns Fails'),(datetime(2008,9,15),':ehman Bankruptcy')]

In [114]:
crisis_data

[(datetime.datetime(2007, 10, 11, 0, 0), 'Peak of bull market'),
 (datetime.datetime(2008, 3, 12, 0, 0), 'Bear Stearns Fails'),
 (datetime.datetime(2008, 9, 15, 0, 0), ':ehman Bankruptcy')]

In [119]:
for date,label in crisis_data:
    ax.annotate(label,xy=(date,spx.asof(date)+50),xytext=(date,spx.asof(data)+200),arrowprops=dict(facecolor='black'),horizontalalignment='left',verticalalignment='top')

TypeError: invalid type promotion

In [57]:
fig= plt.figure()

In [58]:
ax=fig.add_subplot(1,1,1)

In [59]:
rect=plt.Rectangle((0.2,0.75),0.4,0.15,color='k',alpha=0.3)

In [60]:
circ=plt.Circle((0.7,0.2),0.15,color='b',alpha=0.3)

In [61]:
pgon=plt.Polygon([[0.15,0.15],[0.35,0.4],[0.2,0.6]],color='g',alpha=0.5)

In [62]:
ax.add_patch(rect)

In [63]:
ax.add_patch(circ)

In [64]:
ax.add_patch(pgon)

In [65]:
plt.savefig('E:\X\python\ch08/figpath1.svg')

In [66]:
plt.savefig('E:\X\python\ch08/fqqi2g.png',dpi=500,bbox_inches='tight')

In [68]:
plt.rc('figure',figsize=(10,10))

In [70]:
s=Series(np.random.randn(10).cumsum(),index=np.arange(0,100,10))

In [86]:
s=s+randn(10)

In [136]:
s=s+randn(1)
s.plot()

In [138]:
_=plot()

In [150]:
df=DataFrame(np.random.randn(10,4).cumsum(0),columns=['A','B','C','D'],index=np.arange(0,100,10))

In [151]:
df

           A         B         C         D
0   0.238306 -0.819239  0.449745  1.124452
10  1.255343 -0.343180  0.657581  0.128844
20  0.974611 -0.743492  1.565504 -2.021439
30  0.788289 -2.358331  1.925536 -1.200650
40  1.378849 -3.310364  0.490453 -1.904909
50  0.200474 -3.513637  0.015347 -1.993393
60  0.215769 -3.326982  0.833861 -0.328198
70 -0.021551 -1.337661  1.450693  1.024867
80 -0.216434 -0.251888  0.996929  0.481564
90  0.064506 -1.010457  0.000193 -0.224180

In [152]:
df.plot()

In [153]:
fig,axws = plt.subplots(2,1)

In [159]:
data = Series(np.random.rand(16),index=list('abcdefghijklmnop'))

In [166]:
data=list(data)
data

[0.66733334675303546,
 0.76700050774096107,
 0.11093351192689371,
 0.91624703495355697,
 0.84983208764337947,
 0.75217363952892147,
 0.8163922607471169,
 0.88353793603175945,
 0.66526748996376761,
 0.65037341912433388,
 0.45165049083996001,
 0.90651395941506041,
 0.69575137049806624,
 0.61223992499393554,
 0.43650196143887598,
 0.50550887935192212]

In [165]:
data.plot(kind='barh',ax=axes[0],color='k',alpha=0.7)

AttributeError: 'list' object has no attribute 'plot'

In [287]:
df=DataFrame(np.random.rand(6,4),index=['one','two','three','four','five','six'],columns=pd.Index(['A','B','C','D'],name='Genus'))

In [288]:
df

Genus         A         B         C         D
one    0.046690  0.875887  0.414901  0.053652
two    0.684354  0.937656  0.176742  0.843191
three  0.756292  0.025158  0.404764  0.980172
four   0.996056  0.054849  0.533357  0.049242
five   0.299404  0.451736  0.788308  0.861632
six    0.658075  0.585623  0.003216  0.233108

In [170]:
df.plot(kind='barh')

In [293]:
df[]

Genus    A    B    C    D
one    0.0  0.0  0.0  0.0
two    0.0  0.0  0.0  0.0
three  0.0  0.0  0.0  0.0
four   0.0  0.0  0.0  0.0
five   0.0  0.0  0.0  0.0
six    0.0  0.0  0.0  0.0

In [172]:
df.plot(kind='barh',stacked=True,alpha=0.5)#累计在一起，参数：stacked

In [177]:
tips=pd.read_csv('E:\X\python\ch08/tips.csv')

In [182]:
party_counts=pd.crosstab(tips.day,tips.size)

In [184]:
party_counts=party_counts.ix[:,2:5]

In [185]:
party_pcts=party_counts.div(party_counts.sum(1).astype(float),axis=0)

In [187]:
party_pcts

Empty DataFrame
Columns: []
Index: [Fri, Sat, Sun, Thur]

In [188]:
comp1=np.random.normal(0,1,size=200)

In [189]:
comp2=np.random.normal(10,2,size=200)

In [190]:
values=Series(np.concatenate([comp1,comp2]))

In [192]:
values.hist(bins=100,alpha=0.3,color='k',normed=True)

In [194]:
values.plot(kind='kde',style='k--')

In [197]:
def pythonsum(n):
    a=list(range(n))
    b=list(range(n))
    c=[]
    
    for i in range(len(a)):
        a[i]=i**2
        b[i]=i**3
        c.append(a[i]+b[i])
        
    return c

In [198]:
pythonsum(4)

[0, 2, 12, 36]

In [199]:
def numpysum(n):
    a=numpy.arange(n) **2
    b=numpy.arange(n) **3
    c=a+b
    return c

In [200]:
numpysum(4)

array([ 0,  2, 12, 36])

In [201]:
s=Series(np.random.randn(10).cumsum(),index=np.arange(0,100,10))

In [223]:
s.plot(title='ABCss')

In [211]:
df=DataFrame(np.random.randn(10,4).cumsum(1),columns=['a','b','c','d'],index=np.arange(0,100,10))

In [215]:
df.plot(title="AAA")

In [224]:
df=DataFrame(np.random.rand(6,4),index=['one','two','three','four','five','six'],columns=pd.Index(['A','B','C','D'],name='Genus'))

In [225]:
df

Genus         A         B         C         D
one    0.264229  0.243429  0.370557  0.777789
two    0.520970  0.445119  0.124055  0.428444
three  0.133495  0.545678  0.835904  0.688962
four   0.607272  0.125150  0.624717  0.701110
five   0.546771  0.578478  0.452580  0.681150
six    0.870237  0.125461  0.022791  0.459304

In [230]:
df.plot(kind='bar',stacked=True,alpha=0.3)

In [228]:
df.plot(kind='barh')

In [240]:
tips=pd.read_csv('E:\X\python\ch08/tips.csv')

In [243]:
party_count=pd.crosstab(tips.day,tips.sizea)

In [244]:
party_count

sizea  1   2   3   4  5  6
day
Fri    1  16   1   1  0  0
Sat    2  53  18  13  1  0
Sun    0  39  15  18  3  1
Thur   1  48   4   5  1  3

In [259]:
party_count=party_count.ix[:,2:5]

In [268]:
part_pcts=party_count.div(party_counts.sum(1).astype(float),axis=0)

In [269]:
part_pcts#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!tips.tip

sizea    2    3    4    5
day
Fri    inf  inf  inf  NaN
Sat    inf  inf  inf  inf
Sun    inf  inf  inf  inf
Thur   inf  inf  inf  inf

In [277]:
tips['tip_pct']=tips['tip'] / tips['total_bill']

In [285]:
tips['tip_pct'].hist(bins=50)

In [286]:
tips['tip_pct'].plot(kind='kde')

In [294]:
comp1=np.random.normal(0,1,size=200)#N(0,1)

In [297]:
comp2=np.random.normal(10,2,size=200)#N(10,4)

In [298]:
values=Series(np.concatenate([comp1,comp2]))

In [299]:
values.hist(bins=100,alpha=0.3,color='k',normed=True)

In [301]:
values.plot(kind='kde',style='k--')

In [303]:
macro=pd.read_csv('E:\X\python\ch08/macrodata.csv')

In [305]:
data=macro[['cpi','m1','tbilrate','unemp']]

In [308]:
trans_data=np.log(data).diff().dropna()

In [313]:
trans_data[-5:]

          cpi        m1  tbilrate     unemp
198 -0.007904  0.045361 -0.396881  0.105361
199 -0.021979  0.066753 -2.277267  0.139762
200  0.002340  0.010286  0.606136  0.160343
201  0.008419  0.037461 -0.200671  0.127339
202  0.008894  0.012202 -0.405465  0.042560

In [315]:
plt.scatter(trans_data['m1'],trans_data['unemp'])

In [317]:
plt.title('Change in log%s vs. log %s'%('m1','unemp'))

In [318]:
pd.scatter_matrix(trans_data,diagonal='kde',color='k',alpha=0.3)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x00000000180AFD30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000180E2518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001812BEF0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000180F3780>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000001A0B4940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001A0FCA90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001A13E0F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001A186208>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000001A1C7978>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001A2160B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001A24C7B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001A299BE0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000001A992D30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001A9D2550>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001AA1E588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000001AA5BE10>]], dtype=object)

In [382]:
data=pd.read_csv('E:\X\python\ch08/Haiti.csv')

In [383]:
data[['INCIDENT DATE','LATITUDE','LONGITUDE']][:10]

      INCIDENT DATE   LATITUDE   LONGITUDE
0  05/07/2010 17:26  18.233333  -72.533333
1  28/06/2010 23:06  50.226029    5.729886
2  24/06/2010 16:21  22.278381  114.174287
3  20/06/2010 21:59  44.407062    8.933989
4  18/05/2010 16:26  18.571084  -72.334671
5  26/04/2010 13:14  18.593707  -72.310079
6  26/04/2010 14:19  18.482800  -73.638800
7  26/04/2010 14:27  18.415000  -73.195000
8  15/03/2010 10:58  18.517443  -72.236841
9  15/03/2010 11:00  18.547790  -72.410010

In [384]:
data['CATEGORY'][:6]

0          1. Urgences | Emergency, 3. Public Health,
1    1. Urgences | Emergency, 2. Urgences logistiqu...
2    2. Urgences logistiques | Vital Lines, 8. Autr...
3                            1. Urgences | Emergency,
4                            1. Urgences | Emergency,
5                       5e. Communication lines down,
Name: CATEGORY, dtype: object

In [385]:
data.describe()

            Serial     LATITUDE    LONGITUDE
count  3593.000000  3593.000000  3593.000000
mean   2080.277484    18.611495   -72.322680
std    1171.100360     0.738572     3.650776
min       4.000000    18.041313   -74.452757
25%    1074.000000    18.524070   -72.417500
50%    2163.000000    18.539269   -72.335000
75%    3088.000000    18.561820   -72.293570
max    4052.000000    50.226029   114.174287

In [386]:
data=data[(data.LATITUDE >18)&(data.LATITUDE<20)&(data.LONGITUDE<-70)&(data.LONGITUDE>-75)&data.CATEGORY.notnull()]

In [387]:
def to_cat_list(catstr):
    stripped=(x.strip() for x in catstr.split(','))
    return [x for x in stripped if x]

In [388]:
def get_english(cat):
    code, names = cat.split('.')
    if '|' in names:
        names=names.split('|')[1]
    return code,names.strip()

In [389]:
def get_all_categories(cat_series):
    cat_sets=(set(to_cat_list(x)) for x in cat_series)
    return sorted(set.union(*cat_sets))

In [390]:
get_english('2. Urgences logistiques | Vital Lines,')

('2', 'Vital Lines,')

In [391]:
to_cat_list('2. Urgences logistiques | Vital Lines, 2f. Sans courant | Power Outage,')

['2. Urgences logistiques | Vital Lines', '2f. Sans courant | Power Outage']

In [392]:
all_cats=get_all_categories(data.CATEGORY)

In [393]:
all_cats[:6]

['1. Urgences | Emergency',
 '1a. Highly vulnerable',
 '1b. Urgence medicale | Medical Emergency',
 '1c. Personnes prises au piege | People trapped',
 '1d. Incendie | Fire',
 '2. Urgences logistiques | Vital Lines']

In [394]:
english_mapping=dict(get_english(x) for x in all_cats)#转为字典

In [395]:
english_mapping

{'1': 'Emergency',
 '1a': 'Highly vulnerable',
 '1b': 'Medical Emergency',
 '1c': 'People trapped',
 '1d': 'Fire',
 '2': 'Vital Lines',
 '2a': 'Food Shortage',
 '2b': 'Water shortage',
 '2c': 'Security Concern',
 '2d': 'Shelter needed',
 '2e': 'Fuel shortage',
 '2f': 'Power Outage',
 '3': 'Public Health',
 '3a': 'Infectious human disease',
 '3b': 'Chronic care needs',
 '3c': 'Medical equipment and supply needs',
 '3d': "OBGYN/Women's Health",
 '3e': 'Psychiatric need',
 '4': 'Security Threats',
 '4a': 'Looting',
 '4c': 'Group violence',
 '4e': 'Water sanitation and hygiene promotion',
 '5': 'Infrastructure Damage',
 '5a': 'Collapsed structure',
 '5b': 'Unstable Structure',
 '5c': 'Road blocked',
 '5d': 'Compromised bridge',
 '5e': 'Communication lines down',
 '6': 'Natural Hazards',
 '6a': 'Deaths',
 '6b': 'Missing Persons',
 '6c': 'Earthquake and aftershocks',
 '7': 'Services Available',
 '7a': 'Food distribution point',
 '7b': 'Water distribution point',
 '7c': 'Non-food aid distribution point',
 '7d': 'Hospital/Clinics Operating',
 '7g': 'Human remains management',
 '7h': 'Rubble removal',
 '8': 'Other',
 '8a': 'IDP concentration',
 '8c': 'Price gouging',
 '8d': 'Search and Rescue',
 '8e': 'Persons News',
 '8f': 'Other'}

In [396]:
def get_code(seq):
    return [x.split('.')[0] for x in seq if x]

In [397]:
all_codes=get_code(all_cats)

In [398]:
all_codes

['1',
 '1a',
 '1b',
 '1c',
 '1d',
 '2',
 '2a',
 '2b',
 '2c',
 '2c',
 '2d',
 '2e',
 '2f',
 '3',
 '3a',
 '3b',
 '3c',
 '3d',
 '3e',
 '4',
 '4a',
 '4c',
 '4e',
 '5',
 '5a',
 '5b',
 '5c',
 '5d',
 '5e',
 '6',
 '6a',
 '6b',
 '6c',
 '6c',
 '7',
 '7a',
 '7b',
 '7c',
 '7d',
 '7g',
 '7h',
 '8',
 '8a',
 '8c',
 '8d',
 '8e',
 '8f']

In [399]:
code_index=pd.Index(np.unique(all_codes))

In [400]:
code_index

Index(['1', '1a', '1b', '1c', '1d', '2', '2a', '2b', '2c', '2d', '2e', '2f',
       '3', '3a', '3b', '3c', '3d', '3e', '4', '4a', '4c', '4e', '5', '5a',
       '5b', '5c', '5d', '5e', '6', '6a', '6b', '6c', '7', '7a', '7b', '7c',
       '7d', '7g', '7h', '8', '8a', '8c', '8d', '8e', '8f'],
      dtype='object')

In [401]:
dummy_frame=DataFrame(np.zeros((len(data),len(code_index))),index=data.index,columns=code_index)

In [402]:
dummy_frame[:6]

,1,1a,1b,1c,1d,2,2a,2b,2c,2d,...,7c,7d,7g,7h,8,8a,8c,8d,8e,8f
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [403]:
for row,cat in zip(data.index,data.CATEGORY):
    codes=get_code(to_cat_list(cat))
    dummy_frame.ix[row,codes]=1

In [404]:
data=data.join(dummy_frame.add_prefix('category_'))

In [405]:
data.ix[:,10:16]

,category_1,category_1a,category_1b,category_1c,category_1d,category_2
0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,1.0
9,0.0,0.0,0.0,0.0,0.0,1.0
10,0.0,1.0,0.0,0.0,0.0,1.0
11,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,1.0
13,0.0,0.0,0.0,0.0,0.0,1.0
14,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,1.0
16,1.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,1.0
19,1.0,0.0,0.0,0.0,0.0,0.0
20,1.0,0.0,0.0,0.0,0.0,1.0
21,0.0,0.0,0.0,0.0,0.0,1.0
22,0.0,0.0,0.0,0.0,0.0,1.0
23,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,1.0
25,0.0,0.0,1.0,0.0,0.0,1.0
26,0.0,0.0,0.0,0.0,0.0,1.0
27,0.0,0.0,0.0,0.0,0.0,1.0
28,0.0,0.0,0.0,0.0,0.0,1.0
29,0.0,0.0,0.0,0.0,0.0,1.0
30,0.0,0.0,0.0,0.0,0.0,1.0
31,0.0,0.0,0.0,0.0,0.0,0.0
32,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...
3563,0.0,0.0,0.0,0.0,0.0,0.0
3564,0.0,0.0,0.0,0.0,0.0,0.0
3565,1.0,0.0,0.0,0.0,0.0,0.0
3566,1.0,0.0,0.0,0.0,0.0,0.0
3567,0.0,0.0,0.0,0.0,0.0,0.0
3568,0.0,0.0,0.0,0.0,0.0,0.0
3569,0.0,0.0,0.0,1.0,0.0,0.0
3570,0.0,0.0,0.0,0.0,0.0,0.0
3571,0.0,0.0,0.0,0.0,0.0,0.0
3572,0.0,0.0,0.0,0.0,0.0,0.0
3573,0.0,0.0,0.0,0.0,0.0,0.0
3574,0.0,0.0,0.0,1.0,0.0,0.0
3575,0.0,0.0,0.0,0.0,0.0,0.0
3576,0.0,0.0,0.0,0.0,0.0,0.0
3577,0.0,0.0,0.0,0.0,0.0,0.0
3578,0.0,0.0,0.0,0.0,0.0,0.0
3579,0.0,0.0,0.0,0.0,0.0,0.0
3580,0.0,0.0,0.0,0.0,0.0,0.0
3581,0.0,0.0,0.0,1.0,0.0,0.0
3582,0.0,0.0,0.0,0.0,0.0,0.0
3583,0.0,0.0,0.0,0.0,0.0,0.0
3584,0.0,0.0,0.0,1.0,0.0,0.0
3585,0.0,0.0,0.0,0.0,0.0,0.0
3586,1.0,0.0,0.0,0.0,0.0,0.0
3587,1.0,0.0,0.0,0.0,0.0,0.0
3588,0.0,0.0,0.0,0.0,0.0,0.0
3589,0.0,0.0,0.0,1.0,0.0,0.0
3590,0.0,0.0,0.0,0.0,0.0,0.0
3591,0.0,0.0,0.0,0.0,0.0,0.0
3592,0.0,0.0,0.0,0.0,0.0,0.0

In [406]:
from mpl_toolkits.basemap import Basemap

ImportError: No module named 'mpl_toolkits.basemap'