In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [11]:
df = DataFrame({'key1':list('aabba'),
               'key2':['one','two','one','two','one'],'data1':np.random.randn(5),'data2':np.random.randn(5)})

In [12]:
df

      data1     data2 key1 key2
0  1.090936  0.458676    a  one
1  0.024223 -1.307655    a  two
2  0.783649  0.881010    b  one
3  0.890982  1.722586    b  two
4 -0.062820 -1.876399    a  one

In [13]:
grouped = df['data1'].groupby(df['key1'])

In [14]:
grouped

In [15]:
grouped.mean()

key1
a    0.350780
b    0.837315
Name: data1, dtype: float64

In [16]:
means=df['data1'].groupby([df['key1'],df['key2']]).mean()

In [17]:
means

key1  key2
a     one     0.514058
      two     0.024223
b     one     0.783649
      two     0.890982
Name: data1, dtype: float64

In [18]:
means.unstack()

key2       one       two
key1
a     0.514058  0.024223
b     0.783649  0.890982

In [20]:
states = np.array(['Ohio','California','California','Ohio','Ohio'])

In [22]:
years = np.array([2005,2005,2006,2005,2006])
years

array([2005, 2005, 2006, 2005, 2006])

In [28]:
xxx=df['data1'].groupby([states,years]).mean()

In [32]:
df.groupby('key2').mean()

         data1     data2
key2
one   0.603922 -0.178904
two   0.457602  0.207465

In [35]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [36]:
df

      data1     data2 key1 key2
0  1.090936  0.458676    a  one
1  0.024223 -1.307655    a  two
2  0.783649  0.881010    b  one
3  0.890982  1.722586    b  two
4 -0.062820 -1.876399    a  one

In [40]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0  1.090936  0.458676    a  one
1  0.024223 -1.307655    a  two
4 -0.062820 -1.876399    a  one
b
      data1     data2 key1 key2
2  0.783649  0.881010    b  one
3  0.890982  1.722586    b  two

In [42]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print(k1,k2)
    print(group)

a one
      data1     data2 key1 key2
0  1.090936  0.458676    a  one
4 -0.062820 -1.876399    a  one
a two
      data1     data2 key1 key2
1  0.024223 -1.307655    a  two
b one
      data1    data2 key1 key2
2  0.783649  0.88101    b  one
b two
      data1     data2 key1 key2
3  0.890982  1.722586    b  two

In [51]:
pieces=dict(list(df.groupby('key1')))

In [52]:
pieces['a']

      data1     data2 key1 key2
0  1.090936  0.458676    a  one
1  0.024223 -1.307655    a  two
4 -0.062820 -1.876399    a  one

In [55]:
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [57]:
grouped=df.groupby(df.dtypes,axis=1)

In [60]:
dict(list(grouped))

{dtype('float64'):       data1     data2
 0  1.090936  0.458676
 1  0.024223 -1.307655
 2  0.783649  0.881010
 3  0.890982  1.722586
 4 -0.062820 -1.876399, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

In [62]:
df.groupby('key1')['data1']

In [63]:
df.groupby('key1')['data2']

In [64]:
df['data1'].groupby(df['key1'])

In [65]:
df.groupby(['key1','key2'])[['data2']].mean()

              data2
key1 key2
a    one  -0.708862
     two  -1.307655
b    one   0.881010
     two   1.722586

In [66]:
s_grouped=df.groupby(['key1','key2'])['data2']

In [67]:
s_grouped

In [68]:
s_grouped.mean()

key1  key2
a     one    -0.708862
      two    -1.307655
b     one     0.881010
      two     1.722586
Name: data2, dtype: float64

In [70]:
people = DataFrame(np.random.randn(5,5),columns=['a','b','c','d','e'],index=['Joe','Steve','Wes','Jim','Travis'])
people

               a         b         c         d         e
Joe     0.829745  1.298528 -1.217698  0.487185  0.350082
Steve   0.921456  0.498151 -0.196540 -0.374347  0.256548
Wes    -0.799279 -0.369273 -0.752944 -0.778020  0.804710
Jim    -0.024536  2.135264  1.938786  1.642732 -1.929486
Travis -1.682535  0.529871 -0.226319  1.203600 -0.200180

In [88]:
people.ix['Joe'].sum()

1.7478424449929009

In [71]:
people.ix[2:3,['b','c']]=np.nan

In [77]:
mapping={'a':'red','b':'red','c':'blue','d':'blue','e':'red','f':'orange'}

In [78]:
mapping

{'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [81]:
by_column = people.groupby(mapping,axis=1)

In [83]:
by_column.mean()

            blue       red
Joe    -0.365256  0.826118
Steve  -0.285444  0.558718
Wes    -0.778020  0.002715
Jim     1.790759  0.060414
Travis  0.488640 -0.450948

In [90]:
by_column.sum()

            blue       red
Joe    -0.730513  2.478355
Steve  -0.570887  1.676155
Wes    -0.778020  0.005431
Jim     3.581517  0.181242
Travis  0.977281 -1.352845

In [91]:
map_series=Series(mapping)
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [94]:
people.groupby(map_series,axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

In [95]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.005930  3.433792  0.721088  1.351897 -0.774694
5  0.921456  0.498151 -0.196540 -0.374347  0.256548
6 -1.682535  0.529871 -0.226319  1.203600 -0.200180

In [100]:
people

               a         b         c         d         e
Joe     0.829745  1.298528 -1.217698  0.487185  0.350082
Steve   0.921456  0.498151 -0.196540 -0.374347  0.256548
Wes    -0.799279       NaN       NaN -0.778020  0.804710
Jim    -0.024536  2.135264  1.938786  1.642732 -1.929486
Travis -1.682535  0.529871 -0.226319  1.203600 -0.200180

In [106]:
key_list=['one','one','one','two','two']

In [107]:
aaa=people.groupby([len,key_list])
aaa

In [108]:
aaa.mean()

              a         b         c         d         e
3 one  0.015233  1.298528 -1.217698 -0.145417  0.577396
  two -0.024536  2.135264  1.938786  1.642732 -1.929486
5 one  0.921456  0.498151 -0.196540 -0.374347  0.256548
6 two -1.682535  0.529871 -0.226319  1.203600 -0.200180

In [109]:
columns=pd.MultiIndex.from_arrays([['US','US','US','JP','JP'],[1,3,5,1,3]],names=['cty','tenor'])

In [111]:
hier_df=DataFrame(np.random.randn(4,5),columns=columns)

In [112]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.768235 -0.431534 -0.907825 -1.755270 -1.404217
1     -2.090306  0.363454 -0.355840  0.380984  0.169424
2     -0.709805 -1.147587 -0.278919  0.277749  1.264207
3      0.985790  0.543506 -0.483811  0.477178 -1.272509

In [114]:
hier_df.groupby(level='tenor',axis=1).count()

tenor  1  3  5
0      2  2  1
1      2  2  1
2      2  2  1
3      2  2  1

In [115]:
df

      data1     data2 key1 key2
0  1.090936  0.458676    a  one
1  0.024223 -1.307655    a  two
2  0.783649  0.881010    b  one
3  0.890982  1.722586    b  two
4 -0.062820 -1.876399    a  one

In [119]:
grouped=df.groupby('key1')
grouped

In [120]:
grouped['data1'].quantile(0.9)

key1
a    0.877593
b    0.880248
Name: data1, dtype: float64

In [121]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [122]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     1.153756  2.335075
b     0.107333  0.841575

In [123]:
grouped.describe()

               data1     data2
key1
a    count  3.000000  3.000000
     mean   0.350780 -0.908460
     std    0.642470  1.217646
     min   -0.062820 -1.876399
     25%   -0.019298 -1.592027
     50%    0.024223 -1.307655
     75%    0.557579 -0.424490
     max    1.090936  0.458676
b    count  2.000000  2.000000
     mean   0.837315  1.301798
     std    0.075896  0.595084
     min    0.783649  0.881010
     25%    0.810482  1.091404
     50%    0.837315  1.301798
     75%    0.864148  1.512192
     max    0.890982  1.722586

In [124]:
tips=pd.read_csv('E:\X\python\ch08/tips.csv')

In [126]:
tips['tip_pct'] = tips['tip']/tips['total_bill']

In [129]:
tips[:3]

   total_bill   tip     sex smoker  day    time  sizea   tip_pct
0       16.99  1.01  Female     No  Sun  Dinner      2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner      3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner      3  0.166587

In [132]:
grouped = tips.groupby(['sex','smoker'])
grouped.sum()

               total_bill     tip  sizea    tip_pct
sex    smoker
Female No          977.68  149.77    140   8.473732
       Yes         593.27   96.74     74   6.010962
Male   No         1919.75  302.00    263  15.584865
       Yes        1337.07  183.07    150   9.166271

In [137]:
grouped_pct = grouped['tip_pct']
grouped_pct.sum()

sex     smoker
Female  No         8.473732
        Yes        6.010962
Male    No        15.584865
        Yes        9.166271
Name: tip_pct, dtype: float64

In [141]:
grouped_pct.agg('sum')

sex     smoker
Female  No         8.473732
        Yes        6.010962
Male    No        15.584865
        Yes        9.166271
Name: tip_pct, dtype: float64

In [144]:
grouped_pct.agg(['mean','std',peak_to_peak])

                   mean       std  peak_to_peak
sex    smoker
Female No      0.156921  0.036421      0.195876
       Yes     0.182150  0.071595      0.360233
Male   No      0.160669  0.041849      0.220186
       Yes     0.152771  0.090588      0.674707

In [147]:
grouped_pct.agg([('foo','mean'),('bar',np.std)])

                    foo       bar
sex    smoker
Female No      0.156921  0.036421
       Yes     0.182150  0.071595
Male   No      0.160669  0.041849
       Yes     0.152771  0.090588

In [149]:
grouped_pct.mean()

sex     smoker
Female  No        0.156921
        Yes       0.182150
Male    No        0.160669
        Yes       0.152771
Name: tip_pct, dtype: float64

In [150]:
functions=['count','mean','max']

In [152]:
result=grouped['tip_pct','total_bill'].agg(functions)

In [153]:
result

              tip_pct                     total_bill
                count      mean       max      count       mean    max
sex    smoker
Female No          54  0.156921  0.252672         54  18.105185  35.83
       Yes         33  0.182150  0.416667         33  17.977879  44.30
Male   No          97  0.160669  0.291990         97  19.791237  48.33
       Yes         60  0.152771  0.710345         60  22.284500  50.81

In [158]:
ftuples=[('Durchschnitt','mean'),('Abweichung',np.var)]

In [159]:
grouped['tip_pct','total_bill'].agg(ftuples)

                   tip_pct              total_bill
              Durchschnitt Abweichung Durchschnitt Abweichung
sex    smoker
Female No         0.156921   0.001327    18.105185  53.092422
       Yes        0.182150   0.005126    17.977879  84.451517
Male   No         0.160669   0.001751    19.791237  76.152961
       Yes        0.152771   0.008206    22.284500  98.244673

In [166]:
grouped.mean()

               total_bill       tip     sizea   tip_pct
sex    smoker
Female No       18.105185  2.773519  2.592593  0.156921
       Yes      17.977879  2.931515  2.242424  0.182150
Male   No       19.791237  3.113402  2.711340  0.160669
       Yes      22.284500  3.051167  2.500000  0.152771

In [167]:
grouped.agg({'tip':np.max,'sizea':'sum'})

               sizea   tip
sex    smoker
Female No        140   5.2
       Yes        74   6.5
Male   No        263   9.0
       Yes       150  10.0

In [ ]:
grouped.agg({'tip_pct':['min','max','mean','std'],'sizea':'sum'})

In [ ]:
tips.groupby(['sex','smoker'],as_index=False).mean()

In [173]:
k1_means=df.groupby('key1').mean().add_prefix('mean')

In [174]:
k1_means

      meandata1  meandata2
key1
a      0.350780  -0.908460
b      0.837315   1.301798

In [176]:
pd.merge(df,k1_means,left_on='key1',right_index=True)

      data1     data2 key1 key2  meandata1  meandata2
0  1.090936  0.458676    a  one   0.350780  -0.908460
1  0.024223 -1.307655    a  two   0.350780  -0.908460
4 -0.062820 -1.876399    a  one   0.350780  -0.908460
2  0.783649  0.881010    b  one   0.837315   1.301798
3  0.890982  1.722586    b  two   0.837315   1.301798

In [177]:
key = ['one','two','one','two','one']

In [182]:
people.groupby(key).mean()

           a         b         c         d         e
one -0.55069  0.914199 -0.722008  0.304255  0.318204
two  0.44846  1.316708  0.871123  0.634192 -0.836469

In [183]:
people.groupby(key).transform(np.mean)

              a         b         c         d         e
Joe    -0.55069  0.914199 -0.722008  0.304255  0.318204
Steve   0.44846  1.316708  0.871123  0.634192 -0.836469
Wes    -0.55069  0.914199 -0.722008  0.304255  0.318204
Jim     0.44846  1.316708  0.871123  0.634192 -0.836469
Travis -0.55069  0.914199 -0.722008  0.304255  0.318204