In [1]:
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [26]:
df = DataFrame({'key1':list('aabba'),
               'key2':['one','two','one','two','one'],'data1':np.random.randn(5),'data2':np.random.randn(5)})

In [8]:
df

      data1     data2 key1 key2
0 -0.722698  1.727558    a  one
1 -0.045068 -0.480311    a  two
2  0.876478 -0.134548    b  one
3 -0.013486  0.223143    b  two
4  0.447512  1.399482    a  one

In [9]:
grouped = df['data1'].groupby(df['key1'])

In [10]:
grouped

In [11]:
grouped.mean()

key1
a   -0.106751
b    0.431496
Name: data1, dtype: float64

In [12]:
means=df['data1'].groupby([df['key1'],df['key2']]).mean()

In [13]:
means

key1  key2
a     one    -0.137593
      two    -0.045068
b     one     0.876478
      two    -0.013486
Name: data1, dtype: float64

In [14]:
means.unstack()

key2       one       two
key1
a    -0.137593 -0.045068
b     0.876478 -0.013486

In [15]:
states = np.array(['Ohio','California','California','Ohio','Ohio'])

In [16]:
years = np.array([2005,2005,2006,2005,2006])
years

array([2005, 2005, 2006, 2005, 2006])

In [17]:
xxx=df['data1'].groupby([states,years]).mean()

In [18]:
df.groupby('key2').mean()

         data1     data2
key2
one   0.200431  0.997498
two  -0.029277 -0.128584

In [85]:
aaa=df.groupby(['key1','key2']).size()

In [20]:
df

      data1     data2 key1 key2
0 -0.722698  1.727558    a  one
1 -0.045068 -0.480311    a  two
2  0.876478 -0.134548    b  one
3 -0.013486  0.223143    b  two
4  0.447512  1.399482    a  one

In [86]:
aaa

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [87]:
aaa.swaplevel('key1','key2')

key2  key1
one   a       2
two   a       1
one   b       1
two   b       1
dtype: int64

In [89]:
aaa.sortlevel(0)

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [21]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0 -0.722698  1.727558    a  one
1 -0.045068 -0.480311    a  two
4  0.447512  1.399482    a  one
b
      data1     data2 key1 key2
2  0.876478 -0.134548    b  one
3 -0.013486  0.223143    b  two

In [22]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print(k1,k2)
    print(group)

a one
      data1     data2 key1 key2
0 -0.722698  1.727558    a  one
4  0.447512  1.399482    a  one
a two
      data1     data2 key1 key2
1 -0.045068 -0.480311    a  two
b one
      data1     data2 key1 key2
2  0.876478 -0.134548    b  one
b two
      data1     data2 key1 key2
3 -0.013486  0.223143    b  two

In [23]:
pieces=dict(list(df.groupby('key1')))

In [24]:
pieces['a']

      data1     data2 key1 key2
0 -0.722698  1.727558    a  one
1 -0.045068 -0.480311    a  two
4  0.447512  1.399482    a  one

In [25]:
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [26]:
grouped=df.groupby(df.dtypes,axis=1)

In [27]:
dict(list(grouped))

{dtype('float64'):       data1     data2
 0 -0.722698  1.727558
 1 -0.045068 -0.480311
 2  0.876478 -0.134548
 3 -0.013486  0.223143
 4  0.447512  1.399482, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

In [28]:
df.groupby('key1')['data1']

In [29]:
df.groupby('key1')['data2']

In [30]:
df['data1'].groupby(df['key1'])

In [31]:
df.groupby(['key1','key2'])[['data2']].mean()

              data2
key1 key2
a    one   1.563520
     two  -0.480311
b    one  -0.134548
     two   0.223143

In [32]:
s_grouped=df.groupby(['key1','key2'])['data2']

In [33]:
s_grouped

In [34]:
s_grouped.mean()

key1  key2
a     one     1.563520
      two    -0.480311
b     one    -0.134548
      two     0.223143
Name: data2, dtype: float64

In [2]:
people = DataFrame(np.random.randn(5,5),columns=['a','b','c','d','e'],index=['Joe','Steve','Wes','Jim','Travis'])
people

               a         b         c         d         e
Joe     0.550787 -0.432935  1.032589  0.239614 -1.061591
Steve  -0.138117  0.458824  1.979755  1.602044  1.331792
Wes     1.688631 -0.992384  1.519511 -2.170320 -1.041712
Jim    -0.018164 -0.119881  0.543795 -0.140413 -1.066714
Travis  0.846620  0.723945 -0.263964 -0.674211  0.871642

In [36]:
people.ix['Joe'].sum()

0.4680811281258681

In [3]:
people.ix[2:3,['b','c']]=np.nan

In [4]:
mapping={'a':'red','b':'red','c':'blue','d':'blue','e':'red','f':'orange'}

In [5]:
mapping

{'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [8]:
by_column = people.groupby(mapping,axis=0)

In [9]:
by_column.mean()

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [42]:
by_column.sum()

            blue       red
Joe    -2.585811  3.053892
Steve  -0.973437  0.607822
Wes     1.782234 -0.399918
Jim     0.452053 -0.230510
Travis -1.008864 -7.430765

In [10]:
map_series=Series(mapping)
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [14]:
people.groupby(map_series,axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

In [45]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.086448  1.363993 -1.984796  1.633271  0.973024
5  0.106565  0.590348 -0.106893 -0.866545 -0.089091
6 -3.201220 -0.679508 -0.565683 -0.443181 -3.550037

In [46]:
people

               a         b         c         d         e
Joe     0.364241  1.350483 -1.205932 -1.379879  1.339168
Steve   0.106565  0.590348 -0.106893 -0.866545 -0.089091
Wes     0.013550       NaN       NaN  1.782234 -0.413468
Jim    -0.291343  0.013510 -0.778864  1.230917  0.047323
Travis -3.201220 -0.679508 -0.565683 -0.443181 -3.550037

In [47]:
key_list=['one','one','one','two','two']

In [48]:
aaa=people.groupby([len,key_list])
aaa

In [49]:
aaa.mean()

              a         b         c         d         e
3 one  0.188896  1.350483 -1.205932  0.201177  0.462850
  two -0.291343  0.013510 -0.778864  1.230917  0.047323
5 one  0.106565  0.590348 -0.106893 -0.866545 -0.089091
6 two -3.201220 -0.679508 -0.565683 -0.443181 -3.550037

In [18]:
columns=pd.MultiIndex.from_arrays([['US','US','US','JP','JP'],[1,3,5,1,3]],names=['cty','tenor'])
columns

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])

In [19]:
hier_df=DataFrame(np.random.randn(4,5),columns=columns)

In [20]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.593710  0.042708  1.537418 -0.462975  1.686658
1      1.504627 -0.512502  0.505226  0.545012  0.632185
2      0.117844  0.217422 -0.976078 -1.415355  1.816537
3      1.441216  0.131077  1.104015 -1.072555  0.311926

In [25]:
hier_df.groupby(level='cty',axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [27]:
df

      data1     data2 key1 key2
0  1.034563  2.145922    a  one
1  3.056536  3.033281    a  two
2 -1.031882 -0.381277    b  one
3  1.426146  0.030792    b  two
4  1.066787 -1.870208    a  one

In [28]:
grouped=df.groupby('key1')
grouped

In [29]:
grouped['data1'].quantile(0.9)#分位数

key1
a    2.658586
b    1.180343
Name: data1, dtype: float64

In [31]:
def peak_to_peak(arr):
    return arr.max()-arr.min()

In [33]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     2.021972  4.903489
b     2.458028  0.412068

In [34]:
grouped.describe()

               data1     data2
key1
a    count  3.000000  3.000000
     mean   1.719295  1.102998
     std    1.158196  2.612818
     min    1.034563 -1.870208
     25%    1.050675  0.137857
     50%    1.066787  2.145922
     75%    2.061662  2.589601
     max    3.056536  3.033281
b    count  2.000000  2.000000
     mean   0.197132 -0.175243
     std    1.738088  0.291376
     min   -1.031882 -0.381277
     25%   -0.417375 -0.278260
     50%    0.197132 -0.175243
     75%    0.811639 -0.072225
     max    1.426146  0.030792

In [35]:
tips=pd.read_csv('E:\X\python\ch08/tips.csv')

In [36]:
tips[:3]

   total_bill   tip     sex smoker  day    time  sizea
0       16.99  1.01  Female     No  Sun  Dinner      2
1       10.34  1.66    Male     No  Sun  Dinner      3
2       21.01  3.50    Male     No  Sun  Dinner      3

In [38]:
tips['tip_pct']=tips['tip']/tips['total_bill']

In [39]:
grouped=tips.groupby(['sex','smoker'])

In [40]:
grouped_pct=grouped['tip_pct']

In [47]:
grouped_pct.agg("mean")

sex     smoker
Female  No        0.156921
        Yes       0.182150
Male    No        0.160669
        Yes       0.152771
Name: tip_pct, dtype: float64

In [49]:
grouped_pct.agg(['mean','std',peak_to_peak])

                   mean       std  peak_to_peak
sex    smoker
Female No      0.156921  0.036421      0.195876
       Yes     0.182150  0.071595      0.360233
Male   No      0.160669  0.041849      0.220186
       Yes     0.152771  0.090588      0.674707

In [50]:
grouped_pct.agg([('foo','mean'),('bar',np.std)])#重命名

                    foo       bar
sex    smoker
Female No      0.156921  0.036421
       Yes     0.182150  0.071595
Male   No      0.160669  0.041849
       Yes     0.152771  0.090588

In [54]:
functions=['count','mean','max']

In [55]:
result=grouped['tip_pct','total_bill'].agg(functions)
result

              tip_pct                     total_bill
                count      mean       max      count       mean    max
sex    smoker
Female No          54  0.156921  0.252672         54  18.105185  35.83
       Yes         33  0.182150  0.416667         33  17.977879  44.30
Male   No          97  0.160669  0.291990         97  19.791237  48.33
       Yes         60  0.152771  0.710345         60  22.284500  50.81

In [56]:
result['tip_pct']

               count      mean       max
sex    smoker
Female No         54  0.156921  0.252672
       Yes        33  0.182150  0.416667
Male   No         97  0.160669  0.291990
       Yes        60  0.152771  0.710345

In [58]:
grouped.agg({'tip_pct':['min','max','mean','std'],'sizea':'sum'})

              sizea   tip_pct
                sum       min       max      mean       std
sex    smoker
Female No       140  0.056797  0.252672  0.156921  0.036421
       Yes       74  0.056433  0.416667  0.182150  0.071595
Male   No       263  0.071804  0.291990  0.160669  0.041849
       Yes      150  0.035638  0.710345  0.152771  0.090588

In [61]:
tips.groupby(['sex','smoker'],as_index=False).mean()#对结果调用reset_index也可。

      sex smoker  total_bill       tip     sizea   tip_pct
0  Female     No   18.105185  2.773519  2.592593  0.156921
1  Female    Yes   17.977879  2.931515  2.242424  0.182150
2    Male     No   19.791237  3.113402  2.711340  0.160669
3    Male    Yes   22.284500  3.051167  2.500000  0.152771

In [62]:
df

      data1     data2 key1 key2
0  1.034563  2.145922    a  one
1  3.056536  3.033281    a  two
2 -1.031882 -0.381277    b  one
3  1.426146  0.030792    b  two
4  1.066787 -1.870208    a  one

In [63]:
k1_means=df.groupby('key1').mean().add_prefix('mean_')

In [64]:
k1_means

      mean_data1  mean_data2
key1
a       1.719295    1.102998
b       0.197132   -0.175243

In [65]:
pd.merge(df,k1_means,left_on='key1',right_index=True)

      data1     data2 key1 key2  mean_data1  mean_data2
0  1.034563  2.145922    a  one    1.719295    1.102998
1  3.056536  3.033281    a  two    1.719295    1.102998
4  1.066787 -1.870208    a  one    1.719295    1.102998
2 -1.031882 -0.381277    b  one    0.197132   -0.175243
3  1.426146  0.030792    b  two    0.197132   -0.175243

In [66]:
key=['one','two','one','two','one']

In [68]:
people.groupby(key).mean()

            a         b         c         d         e
one  1.028679  0.145505  0.384313 -0.868306 -0.410554
two -0.078141  0.169471  1.261775  0.730815  0.132539

In [69]:
people.groupby(key).transform(np.mean)#广播

               a         b         c         d         e
Joe     1.028679  0.145505  0.384313 -0.868306 -0.410554
Steve  -0.078141  0.169471  1.261775  0.730815  0.132539
Wes     1.028679  0.145505  0.384313 -0.868306 -0.410554
Jim    -0.078141  0.169471  1.261775  0.730815  0.132539
Travis  1.028679  0.145505  0.384313 -0.868306 -0.410554

In [76]:
people

               a         b         c         d         e
Joe     0.550787 -0.432935  1.032589  0.239614 -1.061591
Steve  -0.138117  0.458824  1.979755  1.602044  1.331792
Wes     1.688631       NaN       NaN -2.170320 -1.041712
Jim    -0.018164 -0.119881  0.543795 -0.140413 -1.066714
Travis  0.846620  0.723945 -0.263964 -0.674211  0.871642

In [78]:
def demean(arr):
    return arr-arr.mean()

In [79]:
demeaned=people.groupby(key).transform(demean)

In [80]:
demeaned

               a         b         c         d         e
Joe    -0.477892 -0.578440  0.648276  1.107920 -0.651038
Steve  -0.059976  0.289352  0.717980  0.871229  1.199253
Wes     0.659952       NaN       NaN -1.302014 -0.631158
Jim     0.059976 -0.289352 -0.717980 -0.871229 -1.199253
Travis -0.182060  0.578440 -0.648276  0.194095  1.282195

In [82]:
demeaned.groupby(key).mean()

                a    b             c             d    e
one -3.700743e-17  0.0  0.000000e+00 -1.480297e-16  0.0
two  0.000000e+00  0.0 -5.551115e-17  0.000000e+00  0.0

In [84]:
def top(df,n=5,column='tip_pct'):
    return df.sort_index(by=column)[-n:]

In [88]:
top(tips,n=8)

d:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

     total_bill   tip     sex smoker   day    time  sizea   tip_pct
93        16.32  4.30  Female    Yes   Fri  Dinner      2  0.263480
149        7.51  2.00    Male     No  Thur   Lunch      2  0.266312
109       14.31  4.00  Female    Yes   Sat  Dinner      2  0.279525
183       23.17  6.50    Male    Yes   Sun  Dinner      4  0.280535
232       11.61  3.39    Male     No   Sat  Dinner      2  0.291990
67         3.07  1.00  Female    Yes   Sat  Dinner      1  0.325733
178        9.60  4.00  Female    Yes   Sun  Dinner      2  0.416667
172        7.25  5.15    Male    Yes   Sun  Dinner      2  0.710345

In [90]:
tips.groupby('smoker').apply(top)

d:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

            total_bill   tip     sex smoker   day    time  sizea   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch      2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner      5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner      2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch      2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner      2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner      2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner      4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner      1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner      2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner      2  0.710345

In [95]:
tips.groupby(['smoker','day']).apply(top,n=1,column='total_bill')

d:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

                 total_bill    tip     sex smoker   day    time  sizea  \
smoker day
No     Fri  94        22.75   3.25  Female     No   Fri  Dinner      2
       Sat  212       48.33   9.00    Male     No   Sat  Dinner      4
       Sun  156       48.17   5.00    Male     No   Sun  Dinner      6
       Thur 142       41.19   5.00    Male     No  Thur   Lunch      5
Yes    Fri  95        40.17   4.73    Male    Yes   Fri  Dinner      4
       Sat  170       50.81  10.00    Male    Yes   Sat  Dinner      3
       Sun  182       45.35   3.50    Male    Yes   Sun  Dinner      3
       Thur 197       43.11   5.00  Female    Yes  Thur   Lunch      4

                  tip_pct
smoker day
No     Fri  94   0.142857
       Sat  212  0.186220
       Sun  156  0.103799
       Thur 142  0.121389
Yes    Fri  95   0.117750
       Sat  170  0.196812
       Sun  182  0.077178
       Thur 197  0.115982

In [100]:
result=tips.groupby('smoker')['tip_pct'].describe()

In [103]:
result.unstack('smoker')

smoker          No        Yes
count   151.000000  93.000000
mean      0.159328   0.163196
std       0.039910   0.085119
min       0.056797   0.035638
25%       0.136906   0.106771
50%       0.155625   0.153846
75%       0.185014   0.195059
max       0.291990   0.710345

In [105]:
result.unstack().T

smoker          No        Yes
count   151.000000  93.000000
mean      0.159328   0.163196
std       0.039910   0.085119
min       0.056797   0.035638
25%       0.136906   0.106771
50%       0.155625   0.153846
75%       0.185014   0.195059
max       0.291990   0.710345

In [106]:
tips.groupby('smoker').apply(top)

d:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

            total_bill   tip     sex smoker   day    time  sizea   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch      2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner      5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner      2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch      2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner      2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner      2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner      4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner      1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner      2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner      2  0.710345

In [108]:
tips.groupby('smoker',group_keys=False).apply(top)

d:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

     total_bill   tip     sex smoker   day    time  sizea   tip_pct
88        24.71  5.85    Male     No  Thur   Lunch      2  0.236746
185       20.69  5.00    Male     No   Sun  Dinner      5  0.241663
51        10.29  2.60  Female     No   Sun  Dinner      2  0.252672
149        7.51  2.00    Male     No  Thur   Lunch      2  0.266312
232       11.61  3.39    Male     No   Sat  Dinner      2  0.291990
109       14.31  4.00  Female    Yes   Sat  Dinner      2  0.279525
183       23.17  6.50    Male    Yes   Sun  Dinner      4  0.280535
67         3.07  1.00  Female    Yes   Sat  Dinner      1  0.325733
178        9.60  4.00  Female    Yes   Sun  Dinner      2  0.416667
172        7.25  5.15    Male    Yes   Sun  Dinner      2  0.710345

In [112]:
frame=DataFrame({'data1':np.random.randn(1000),'data2':np.random.randn(1000)})

In [113]:
frame

        data1     data2
0    0.231308 -0.144413
1   -1.064340 -0.606073
2    0.349158 -0.280435
3   -0.382086 -0.066026
4   -0.399293 -1.683693
5    1.268285 -0.298305
6    0.560730 -1.412990
7    1.063508  0.059166
8   -0.305619  1.119030
9   -0.442302  0.441749
10   0.627286  0.655580
11  -0.225614 -1.129020
12   1.394211  0.007056
13   0.865934  0.378491
14   0.474098  0.251979
15   1.054496 -0.112449
16   0.888047  2.753238
17   0.409429  1.535701
18   0.645133 -0.998625
19  -0.943687  1.363194
20  -0.936953  0.234300
21   2.800633 -1.870687
22   0.226478  0.376995
23   0.460268 -1.046267
24   0.095378 -0.770566
25  -0.439249  1.314189
26   0.193147  2.360740
27  -1.249880 -0.838503
28  -0.760496 -0.523911
29  -0.086030 -1.057137
..        ...       ...
970  0.790692  0.953054
971  0.160069 -0.308770
972 -0.121705  0.244327
973  1.335576 -0.988976
974  0.847090  0.148437
975 -0.256590  0.150892
976 -0.519697 -0.725204
977  1.729037 -0.008287
978  1.250936  0.226081
979 -1.078230  1.687242
980  0.363631 -1.444023
981  0.832874 -1.729206
982  0.424166  0.263577
983  0.505964  0.264800
984 -0.838364 -0.570593
985  0.604058  1.079289
986  0.007384  2.053421
987 -1.699554 -0.672607
988 -0.789751  0.354347
989 -0.201566  0.445775
990 -1.190083  0.075454
991 -0.953852  0.282100
992 -0.321855  0.206114
993  1.349478 -0.125560
994  0.580378 -0.636286
995 -0.785466  0.819299
996  1.345695  0.486425
997 -0.290924 -0.724462
998  0.136033 -0.882563
999 -1.252617  1.330201

[1000 rows x 2 columns]

In [114]:
factor=pd.cut(frame.data1,4)

In [125]:
factor

0        (-0.104, 1.388]
1       (-1.595, -0.104]
2        (-0.104, 1.388]
3       (-1.595, -0.104]
4       (-1.595, -0.104]
5        (-0.104, 1.388]
6        (-0.104, 1.388]
7        (-0.104, 1.388]
8       (-1.595, -0.104]
9       (-1.595, -0.104]
10       (-0.104, 1.388]
11      (-1.595, -0.104]
12         (1.388, 2.88]
13       (-0.104, 1.388]
14       (-0.104, 1.388]
15       (-0.104, 1.388]
16       (-0.104, 1.388]
17       (-0.104, 1.388]
18       (-0.104, 1.388]
19      (-1.595, -0.104]
20      (-1.595, -0.104]
21         (1.388, 2.88]
22       (-0.104, 1.388]
23       (-0.104, 1.388]
24       (-0.104, 1.388]
25      (-1.595, -0.104]
26       (-0.104, 1.388]
27      (-1.595, -0.104]
28      (-1.595, -0.104]
29       (-0.104, 1.388]
             ...
970      (-0.104, 1.388]
971      (-0.104, 1.388]
972     (-1.595, -0.104]
973      (-0.104, 1.388]
974      (-0.104, 1.388]
975     (-1.595, -0.104]
976     (-1.595, -0.104]
977        (1.388, 2.88]
978      (-0.104, 1.388]
979     (-1.595, -0.104]
980      (-0.104, 1.388]
981      (-0.104, 1.388]
982      (-0.104, 1.388]
983      (-0.104, 1.388]
984     (-1.595, -0.104]
985      (-0.104, 1.388]
986      (-0.104, 1.388]
987    (-3.0934, -1.595]
988     (-1.595, -0.104]
989     (-1.595, -0.104]
990     (-1.595, -0.104]
991     (-1.595, -0.104]
992     (-1.595, -0.104]
993      (-0.104, 1.388]
994      (-0.104, 1.388]
995     (-1.595, -0.104]
996      (-0.104, 1.388]
997     (-1.595, -0.104]
998      (-0.104, 1.388]
999     (-1.595, -0.104]
Name: data1, dtype: category
Categories (4, object): [(-3.0934, -1.595] < (-1.595, -0.104] < (-0.104, 1.388] < (1.388, 2.88]]

In [117]:
def get_stats(group):
    return{'min':group.min(),'max':group.max(),'count':group.count(),'mean':group.mean()}

In [118]:
grouped=frame.data2.groupby(factor)

In [130]:
grouped.apply(get_stats).unstack()

                   count       max      mean       min
data1
(-3.0934, -1.595]   65.0  2.814768  0.175089 -2.214263
(-1.595, -0.104]   399.0  2.829335  0.059278 -2.809606
(-0.104, 1.388]    461.0  2.770378 -0.015145 -3.876070
(1.388, 2.88]       75.0  3.715799  0.147882 -2.755578

In [135]:
grouping=pd.qcut(frame.data1,10,labels=False)

In [137]:
grouped=frame.data2.groupby(grouping)

In [139]:
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.814768  0.123424 -2.214263
1      100.0  2.699988  0.236194 -1.953977
2      100.0  2.829335  0.054183 -2.809606
3      100.0  1.754107  0.036764 -2.021365
4      100.0  2.786779 -0.166556 -2.003973
5      100.0  2.360740 -0.081002 -3.876070
6      100.0  2.062618 -0.037666 -2.474461
7      100.0  2.770378  0.084826 -1.981299
8      100.0  2.756666  0.067996 -2.321498
9      100.0  3.715799  0.073258 -2.755578

In [140]:
s=Series(np.random.randn(6))

In [141]:
s[::2]=np.nan

In [143]:
s.fillna(s.mean())#填充缺失值

0    0.358005
1    1.593335
2    0.358005
3    0.255613
4    0.358005
5   -0.774932
dtype: float64

In [144]:
states=['Ohio','New York','Vermont','Florida','Oregon','Nevada','California','Idaho']

In [146]:
group_key=['East']*4+['West']*4
group_key

['East', 'East', 'East', 'East', 'West', 'West', 'West', 'West']

In [147]:
data=Series(np.random.randn(8),index=states)

In [148]:
data

Ohio         -0.573580
New York     -0.181398
Vermont       0.654266
Florida       0.423103
Oregon        0.818023
Nevada       -0.504374
California   -0.297946
Idaho        -0.459839
dtype: float64

In [149]:
data[['Vermont','Nevada','Idaho']]=np.nan

In [151]:
data.groupby(group_key).mean()

East   -0.110625
West    0.260039
dtype: float64

In [152]:
fill_mean= lambda g: g.fillna(g.mean())

In [153]:
data.groupby(group_key).apply(fill_mean)

Ohio         -0.573580
New York     -0.181398
Vermont      -0.110625
Florida       0.423103
Oregon        0.818023
Nevada        0.260039
California   -0.297946
Idaho         0.260039
dtype: float64

In [154]:
fill_values={'East':0.5,'West':-1}

In [155]:
fill_func=lambda g: g.fillna(fill_values[g.name])

In [156]:
data.groupby(group_key).apply(fill_func)

Ohio         -0.573580
New York     -0.181398
Vermont       0.500000
Florida       0.423103
Oregon        0.818023
Nevada       -1.000000
California   -0.297946
Idaho        -1.000000
dtype: float64

In [157]:
#红桃：Hearts，黑桃:Spades，梅花:Clubs，方片:Diamonds
suits=['H','S','C','D']

In [162]:
card_val=(list(range(1,11))+[10] * 3) * 4

In [166]:
base_names=['A']+list(range(2,11))+['J','K','Q']

In [167]:
base_names

['A', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'K', 'Q']

In [169]:
cards=[]

In [173]:
for suit in ['H','S','C','D']:
    cards.extend(str(num)+suit for num in base_names)

In [174]:
deck = Series(card_val,index=cards)

In [178]:
deck

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
AS      1
2S      2
3S      3
4S      4
5S      5
6S      6
7S      7
8S      8
9S      9
10S    10
JS     10
KS     10
QS     10
AC      1
2C      2
3C      3
4C      4
5C      5
6C      6
7C      7
8C      8
9C      9
10C    10
JC     10
KC     10
QC     10
AD      1
2D      2
3D      3
4D      4
5D      5
6D      6
7D      7
8D      8
9D      9
10D    10
JD     10
KD     10
QD     10
dtype: int64

In [179]:
def draw(deck,n=5):
    return deck.take(np.random.permutation(len(deck))[:n])

In [197]:
draw(deck,5)

9C    9
3S    3
8D    8
8C    8
5C    5
dtype: int64

In [198]:
get_suit=lambda card: card[-1] #取最后一个字母

In [199]:
deck.groupby(get_suit).apply(draw,n=2)

C  5C      5
   8C      8
D  9D      9
   3D      3
H  10H    10
   AH      1
S  2S      2
   7S      7
dtype: int64

In [200]:
deck.groupby(get_suit,group_keys=False).apply(draw,n=2)

KC     10
3C      3
4D      4
7D      7
10H    10
JH     10
6S      6
5S      5
dtype: int64

In [201]:
df=DataFrame({'category':list('aaaabbbb'),'data':np.random.randn(8),'weights':np.random.rand(8)})

In [202]:
df

  category      data   weights
0        a -0.971845  0.720920
1        a  0.555738  0.869986
2        a -0.751881  0.644608
3        a  0.144607  0.214640
4        b -0.056498  0.815745
5        b  1.007183  0.332253
6        b  0.989971  0.790592
7        b -1.048795  0.820470

In [206]:
grouped=df.groupby('category')

In [207]:
get_wavg=lambda g: np.average(g['data'],weights=g['weights'])

In [208]:
grouped.apply(get_wavg)

category
a   -0.273766
b    0.076370
dtype: float64

In [222]:
close_px=pd.read_csv('E:\X\python\ch09/stock_px.csv')#,parse_dates=True,index_col=0)

In [224]:
close_px=pd.read_csv('E:\X\python\ch09/stock_px.csv',parse_dates=True,index_col=0)

In [225]:
close_px[-4:]

              AAPL   MSFT    XOM      SPX
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

In [229]:
rets=close_px.pct_change().dropna()
rets[-4:]

                AAPL      MSFT       XOM       SPX
2011-10-11  0.029526  0.002227 -0.000131  0.000544
2011-10-12  0.004747 -0.001481  0.011669  0.009795
2011-10-13  0.015515  0.008160 -0.010238 -0.002974
2011-10-14  0.033225  0.003311  0.022784  0.017380

In [231]:
spx_corr = lambda x:x.corrwith(x['SPX'])#corrwith计算相关系数

In [232]:
by_year=rets.groupby(lambda x:x.year)

In [233]:
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [234]:
by_year.apply(lambda g:g['AAPL'].corr(g['MSFT']))

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

In [238]:
by_year.apply(lambda g:g['AAPL'].corr(g['MSFT']))

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

In [244]:
tips.pivot_table(index=['sex','smoker'])

                  sizea       tip   tip_pct  total_bill
sex    smoker
Female No      2.592593  2.773519  0.156921   18.105185
       Yes     2.242424  2.931515  0.182150   17.977879
Male   No      2.711340  3.113402  0.160669   19.791237
       Yes     2.500000  3.051167  0.152771   22.284500

In [248]:
tips.pivot_table(['tip_pct','sizea'],index=['sex','day'],columns='smoker')

              tip_pct               sizea
smoker             No       Yes        No       Yes
sex    day
Female Fri   0.165296  0.209129  2.500000  2.000000
       Sat   0.147993  0.163817  2.307692  2.200000
       Sun   0.165710  0.237075  3.071429  2.500000
       Thur  0.155971  0.163073  2.480000  2.428571
Male   Fri   0.138005  0.144730  2.000000  2.125000
       Sat   0.162132  0.139067  2.656250  2.629630
       Sun   0.158291  0.173964  2.883721  2.600000
       Thur  0.165706  0.164417  2.500000  2.300000